.left {
    float: left;
}
.cur {
    cursor: pointer;
}
.right {
    float: right;
}
.farShadow {
    -moz-box-shadow: 8px 8px 15px rgba(0,0,0,.7);
    -webkit-box-shadow: 8px 8px 15px rgba(0,0,0,.7);
    -ms-box-shadow: 8px 8px 15px rgba(0,0,0,.7);
    box-shadow: 8px 8px 15px rgba(0,0,0,.7);
}

div.baseBox {
    background: #5184AF;
    background-image: -moz-linear-gradient(top, #26445F,#26445F,#5184AF,#396690);
    background-image: -webkit-linear-gradient(top, #26445F,#26445F,#5184AF,#396690);
    border: 1px solid #000;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    color: #fff;
}

div.baseBox2 {
    background: #444;
    background-image: -webkit-linear-gradient(top, #111,#111,#444,#222);
    background-image: -moz-linear-gradient(top, #111,#111,#444,#222);
}

div.baseBoxTitle {
    padding: 5px;
    background: #26445F url(http://jsfiddle.net/img/top-bg.png) repeat-x;
    background-image: -moz-linear-gradient(top, #4375A0,#26445F);
    background-image: -ms-linear-gradient(top, #4375A0,#26445F);
    background-image: -webkit-linear-gradient(top, #4375A0,#26445F);
    color: #ccc;
    height: 18px;
    -moz-border-radius: 6px 6px 0 0px;
    -webkit-border-radius: 6px 6px 0 0px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #000;
    -moz-box-shadow:inset -2px -2px 4px rgba(255,255,255, 0.1);
    -webkit-box-shadow:inset -2px -2px 4px rgba(255,255,255, 0.1);
    -ms-box-shadow:inset -2px -2px 4px rgba(255,255,255, 0.1);
}

div.baseBoxTitle h2 {
    color: #fff;
    font-weight: bold;
    font-family: verdana;
    font-size: 16px;
    text-shadow:0px 0px 2px #000;
    -webkit-text-shadow:0px 0px 2px #000;
    -moz-text-shadow:0px 0px 2px #000;
    -ms-text-shadow: 0px 0px 2px #000;
    text-transform: uppercase;
}


div.baseBoxClose {
    margin-top: 5px;
    margin-right: 5px;
}

div.baseBoxSection {
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #444;
    background: #4375A0;
    background-image: -moz-linear-gradient(top, #4375A0,#26445F);
    background-image: -webkit-linear-gradient(top, #4375A0,#26445F);
}

div.baseBoxSection a {
    color: #ffffaf;
    font-weight: bold;
    text-decoration: none;
}
div.baseBoxSection a:hover {
    color: #ffff1f;
}
div.baseBoxSectionRed {
    padding: 5px;
    color: #B3AF74;
    font-weight: bold;
    border-bottom: 1px solid #000;
    background-color: #500;
    background-image: -moz-linear-gradient(top, #700,#500);
    background-image: -webkit-linear-gradient(top, #700,#500);
}

div.moto {
    padding: 10px;
    background: #333;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
}

.shadowy {
    box-shadow: 1px 1px 2px #000;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    -ms-box-shadow: 1px 1px 2px #000;

}

.inshadow {
    -moz-box-shadow: inset 1px 1px 15px #000;
    -webkit-box-shadow: inset 1px 1px 15px #000;
    -ms-box-shadow: inset 1px 1px 15px #000;
    box-shadow: inset 1px 1px 15px #000;
}
div.LightBoxBodyOuter {

}

div.LightBoxBody {
    padding: 10px;
}

img.bordered {
    border: 1px solid #000;
}