/*format */
span.tabFollowed {
	display: inline-block;
	width: 90px;
	line-height: 1.9em;
}

a.tabFollowed  {
	display: inline-block;
	width: 190px;
}

/* PRINTING BUTTON */

.printing {
	background: #ffffff url(../images/printing.gif) no-repeat;
	float:  left;
	height: 20px;
	width: 20px;
}

/* ZOOM BUTTON */
.rezIcon {
	background: #ffffff url(../images/rezIcon.png) no-repeat;
	float:  left;
	height: 20px;
	width: 20px;
}

/* Transparenz BUTTON */
.transIcon {
	background: #ffffff url(../images/transparenz.png) no-repeat;
	float: left;
	height: 20px;
	width: 20px;
}

/* ZOOM BUTTON */
.zoomIcon {
	background: #ffffff url(../images/zoomIcon.png) no-repeat;
	float:  left;
	height: 20px;
	width: 20px;
}

.highlight {
	border: 1px solid #999;
}


/* HEADER */

#titelzeile {
	height: 25px;
	padding-left: 4em;
	padding-bottom: 1.8em;
}

#titelzeile h1 {
	float: left;
	text-shadow: black 2px 2px;
}

#titelzeile #otto {
	float: left;
	padding-right: 40px ;
}

#titelzeile h2 {
	float: left;
	padding: 0px 40px 0px 10px;
	font-size:small;
	text-shadow: black 1px 2px;
	color:   #D9C8C1;
}

.clear {
	clear: left;
}

#currentfile {
	font-family: "Gloria", sans-serif;
	color : #ffffff;
	font-style: italic;
	font-size: 200%;
}

#toolbar img {
	border: none !important;
	padding-left: 5px;
	margin: 0px;
	height:  18px;
}

#tools {
	position:  absolute;
	left: 230px;
	top:  100px;
	z-index: 200;
	background: #43A1ED url() no-repeat;
	color: #fff;
	-moz-border-radius: 10px;
	-moz-box-shadow: #e1e1e1 0px 0px 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 25px 25px  25px  25px #000;
	width: 200px;
	height:  50px;
	padding: 10px 10px;

}

#Umenu,#Umenu li  {
	line-height: 10px;
	float: left;
	background: #DFE9BC url() no-repeat;
}


#Benutzer {
	margin: 20px;
}

.b {
	font-weight: bold;
}

#Benutzer li {

	list-style: none;
	padding:  10px;
	float:  left;
	width: 60px;
}

#Benutzer ul {
	margin: 0px;
	padding: 0px;
	width: 350px;
	border-bottom: 1px solid #999;
	clear:  left;
	vertical-align: top; 
}

#Benutzer ul li img {
	margin: 0px;
	padding: 0px;
	vertical-align: top;

}

#newUserForm p {
	float:  left;
}

.malzwei {
	width: 120px;
}

p.head_form {

}


/* EDITHELPER*/

label.editStep {
	float: left;
	width: 200px;
	height: 16px;
	overflow: hidden;
	padding-top: 3px;
}


.editHelper_form input {
	border: 1px solid #999;
	margin: 2px, 0, 2px, 10px;
	padding: 2px, 0, 2px, 10px;
	clear: right;
}

.editHelper_form label {
	float: left;
}

.editHelper_form span {
	overflow: hidden;
	float: left;
	width: 120px;
	padding-left: 20px;
}

/*Checkboxes*/
.f_checkbox,.f_radio {
	background-repeat:no-repeat;
	background-position:3px center;
	height:16px;
	cursor:pointer;
}
.checked,.selected{
	background-repeat:no-repeat;
	color:#565656;
	padding-left: 5px;
}
.f_radio:hover,.f_checkbox:hover{
	color:#999 !important
}
.f_radio{
	padding:4px 4px;
}
.f_checkbox{
	padding:4px 4px;
}
.unchecked{
	padding-left: 20px;
	background-repeat:no-repeat;
	background-image:url(../images/chk_off.png)
}
.checked{
	padding-left: 20px;
	background-repeat:no-repeat;
	background-image:url(../images/chk_on.png)
}
/* TODO: Image missing! */
.unselected{
	background-image:url(../images/rdo_off.png)
}
/* TODO: Image missing! */
.selected{
	background-image:url(../images/rdo_on.png)
}

/* HEADER */

.head_form label {
	display: block;
	float: left;
	width: 250px;
	height: 30px;
}

.head_form input {
	vertical-align: middle;
	width: 500px;
	height:  1.7em;
}

.head_form span {
	display: inline-block;
	padding-left: 10px;
	width: 150px;
}

.headToggle {
	
}

.subHead {
	cursor:s-resize;
	border: 1px solid #999;
	padding: 3px;
	margin: 5px;
	-moz-border-radius: 10px;
	-moz-box-shadow: #e1e1e1 0px 0px 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 25px 25px  25px  25px #000;
}





#logout {
	clear: left;
}

.divLeft {
	float: left;
	width: 70%;
}

.divRight {
	float:right;
	width:30%;
}

p.clappable span {
	padding: 20px;
}

.clapp {
	cursor:pointer;
}

.clapp:hover {
	color: #A0BBE0;
}

#progress th {
	border-bottom: 1px solid #999;
	width: 160px;
}




#editWrapper {

}
/* 
  Container und Content wrappen quasi das gleiche, man brauch aber einen für
  die Breite mit float und einen "festen" für den Inhalt selber. Also Content immer
  zweimal wrappen */
.editContainer {
	margin-left: 20px;
	width: 100%;
	overflow: hidden;
}

.index {
	display: block;
	float: left;
	width: 10%;
	color: #437fda;
}
.edit {
	float: left;
	width: 40%;
	display: block;

}
.unicode script {
	border: 1px solid blue;
}


.unicode {
	display: block;
	width: 40%;
	float: left;
}

form select {
	vertical-align: top;
}

/*Fortschrittsbalken*/
.progressBarCurrent {
	position: relative;
	border: 2px ridge #999;
	background: #F1F2F1;
	width:200px;
	height:200px;

}
.progressTextCurrent {
	border: 2px outset #999;
	border-top: 2px ridge #999;
	position: absolute;
	width: 198px;
	bottom: 0;
	left: 5;
	background: #A2EEA8 url(../images/lines.png) left bottom repeat;
	height:200px;

}

.progressBar {
	background: url(../images/progress-bar-back.png) right center no-repeat;
	width:200px;
	height:20px;
	float: left;
}
.progressText {
	background: url(../images/progress-bar.png) right center no-repeat;
	height: 20px;
}


/*Rules*/
#rulesTable {
	font-size: 1em;
}

#rulesTable td, #rulesTable tr{
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}



/*Editor*/
#editorOptionsStatus {
	color: #565656;
}

span.comment {
	color: #900000;
}

div.notFocusedLines {

}

/*Header*/
#controls {
	position: absolute;
	top: 5px;
	right: 5px;
}

#controls a img {
	margin: 2px;
	border: none !important;
}


a.unlock {
	color: red;
}

#newMsgAlert {
	margin-right: 30px;
	border: 1px solid #999;
}


/*INDEX */

p.files {
	margin: 0px;
	padding: 0px;
}


label.newFile {

	display: inline-block;
	width: 100px;
	font-size: 1em;
	color: #999;
	margin: 0 5px 0 0;
	line-height: 1.5em;

}


/* TOOLTIPS */

.tip{
	background: #2b548c url() no-repeat;
	color: #fff;
	width: 200px;
	z-index: 13000;
	-moz-border-radius: 10px;
	-moz-box-shadow: #e1e1e1 0px 0px 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 25px 25px  25px  25px #000;
}

.tip-top {
}

.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
}

.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
}
.tip-bottom	{

}




/* ANNOTATE ADDITIONS */

input.error {
    background-color: red;
}

/*mootools*/
.mask {
	position: absolute;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #000;
}

.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	padding: 1.5em;
}

.spinner-img {
	background: url(../images/spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

div#overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 10000px;
    width: 10000px;
    background: none;
    display: none;
}

div#spin-overlay {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    display: none;
}

.panel {
    font: 100% sans-serif;
}

a {
    cursor: pointer;
}


button {
    padding: 0 3px;
}
button img {
    height: 16px;
    width: 16px;
    position: relative;
    bottom: -2px;
    margin: 0 6px 0 0;
}

div.clappable div {
    margin-top: 1em;
    padding-left: 0.75em;
}

table#editProjects th, table#editUsers th {
    background: none repeat scroll 0 0 #D1D1D1;
    padding: 0.5em;
}

table#editProjects td, table#editUsers td {
    background: none repeat scroll 0 0 #EFEFEF;
    font-size: 140%;
    padding: 0.2em;
}

tr.adminUserInfoRow.userActive .adminUserNameCell,
tr.adminUserInfoRow.userActive .adminUserLastactiveCell {
    font-weight: bold;
    color: orangered;
}


.centered {
    text-align: center;
}

.ceraInput { 
    padding: 1em;
}

.ceraInput p { 
    text-align: right;
}

.ceraInput th { 
    text-align: right;
    width: 13em;
    padding-right: 0.5em;
 }
 
/* File-table */
table.fileList {
    font-size: 1.5em;
    border-collapse: collapse;
    margin: 10px;
}

table.fileList td {
    padding: 5px 10px;
    border-bottom: 1px solid #999;
}

table.fileList th {
    padding: 5px 10px;
    border-bottom: 1px solid #999;
}

h4.projectname {
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 4px;
}

th.tagStatusPOS, th.tagStatusMorph, th.tagStatusNorm,
td.tagStatusPOS, td.tagStatusMorph, td.tagStatusNorm {
    min-width: 3em;
    text-align: center;
}

td.deleteFile img {
    cursor: pointer;
}

tr.opened {
    opacity: 0.5;
}
 
 
/* Edit-Table */
table#editTable{
    border-spacing: 0px;
    font-size: 1.5em;
    padding-top: 6px;
}

tr.editHeadLine{
    cursor: pointer;
}

table#editTable tr {

}

table#editTable th {
    border-bottom: 1px solid #666;
    padding: 0px 6px 4px 6px;
}

table#editTable td {
    border-bottom: 1px solid #BBB;
    padding: 0px 6px;
    white-space: nowrap;
}

table#editTable th.editTable_tokenid {
    text-align: right;
}

table#editTable td.editTable_tokenid {
    font-size: 80%;
    font-weight: bold;
    text-align: right;
}

table#editTable td.editTable_POS select {
    width: 8em;
}

table#editTable td.editTable_Morph select {
    width: 12em;
}

table#editTable td.editTable_Norm input {
    width: 8em;
}

table#editTable td.editTable_Mod input {
    width: 8em;
}

table#editTable td.editTable_Lemma input {
    width: 15em;
}

table#editTable td.editTable_Comment input {
    width: 15em;
}

table#editTable select.input_error {
    box-shadow: 0 0 4px 1px #FF0000, 0 0 2px rgba(0, 0, 0, 0.12) inset;
}

table#editTable select.input_error_chrome {
    border: 1px solid #FF0000;
    outline: 2px solid #FFA0A0;
}

table#editTable td.editTable_token {
    font-family: Junicode, Cardo, Alphabetum, "Palemonas MUFI",
                 "Andron Scriptor Web", LeedsUni, "Titus Cyberbit",
		 "Times New Roman", Times, serif;
    font-size: 110%;
    padding-top: 4px;
}

.editTableCheckbox {
    border: 1px solid black;
    width: 8px;
    height: 8px;
    padding: 1px;
    background-color: white;
}

div.editTableProgress {
    width: 8px;
    height: 2em;
    background-color: #CCC;
}

div.editTableProgressChecked {
    background-color: green !important;
}

div.editTableErrorChecked {
    background-color: red !important;
}

div.editTableLemma {
    display: inline-block;
}

div.editTableLemmaChecked {
    background-color: green !important;
}

div.editTableLemmaLink {
    display: inline;
}

div.editTableLemmaLink img {
    vertical-align: text-bottom;
    cursor: pointer;
}

/* Text preview */
div#horizontalTextView {
    padding: 4px;
    margin: 20px 0 0 20px;
    font-size: 1.5em;
    background: white;
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #d8d8d8;
    max-width: 60em;
}

div#horizontalTextView span.highlighted {
    background-color: yellow;
    color: black;
}

/* POPUP */
.addDataPopup{
    border: 3px solid #2B548C;
    background-color: #F8F8F8;
    position: absolute;
    width: 500px;
    min-height: 300px;
    margin: -150px 0 0 -250px;
    left: 50%;
    top: 50%;
    font-size: 2em;
    
}

.importErrorPopup {    
    border: 3px solid #2B548C;
    background-color: #F8F8F8;
    position: absolute;
    width: 500px;
    min-height: 300px;
    margin: -150px 0 0 -250px;
    left: 50%;
    top: 50%;
    font-size: 2em;
}

.importErrorPopup button {
    margin: 20px 10px;
}

.importErrorPopup h2 {
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #999;
/*    background-color: #DD0000;*/
    background-color: #2B548C;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    font-style: normal;

}
.fileViewRefresh h3 {
    display: inline;
    margin-right: 20px;
/*    padding-bottom: 20px;*/
}

.fileViewRefresh {
    vertical-align: middle;
    margin-bottom: 20px;
}

#pagePanel{
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

#pagePanel span {
    text-align: center;
}

#pagePanel a {
    padding: 0 6px;
}

#pagePanel .currentPage{
    font-weight: bold;
}

tr#line_template {
    display: none;
}

div#editorSettingsNumberOfLines label {
    display: inline-block;
    width: 11.5em;
}

div#editorSettingsNumberOfLines input {
    text-align: right;
}

div#editorSettingsNumberOfLines form {
    padding-top: 1em;
}

div#editorSettingsHiddenColumns input,
div#editorSettingsInputAids input {
    margin-left: 0.5em;
    vertical-align: middle;
}

div#editorSettingsHiddenColumns label,
div#editorSettingsInputAids label {
    margin-left: 5px;
}

form#newFileImportForm label,
form#newFileImportTransForm label {
    display: inline-block;
    width: 4.5em;
    text-align: right;
    padding-right: 5px;
}

table.tagset-list {
    font-size: 1.1em;
    padding: 12px;
}

table.tagset-list th {
    padding: 2px 5px;
    background-color: #d1d1d1;
}

table.tagset-list td {
    padding: 2px 5px;
    background-color: #efefef;
}

table.tagset-list .numeric {
    text-align: right;
}

table.tagset-list .check {
    text-align: center;
}

div#changePasswordFormDiv label {
    display: inline-block;
    width: 11em;
    text-align: right;
}

div.limitedWidth p {
    max-width: 31em;
}

.templateHolder {
    display: none;
}

.error_text {
    color: red;
    display: none;
}

.important_text {
    color: red;
}

/* Dropdown Menu */

img.editTableDropdownIcon {
    cursor: pointer;
}

div.editTableDropdownMenu {
    position: absolute;
    display: none;
    background-color: #d4d4d4;
    padding: 5px;
    margin: 0 0 0 ;
    border: 1px solid #777777;
}

div.editTableDropdownMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.editTableDropdownMenu a {
    color: #444444;
    text-decoration: none;
}

div.editTableDropdownMenu a:hover {
    color: #4444cc;
    text-decoration: none;
}


/* (more) admin stuff */
div.userChangeEditTable {
    min-width: 40em;
    max-width: 40em;
    text-align: left;
}

div.userChangeEditTable span {
    display: inline-block;
    margin: 2px;
    min-width: 6em;
}


/* Import dialog */
div#transImportSpinner {
}
div#transImportSpinner table {
    margin-left: 26px;
}
div#transImportSpinner td {
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 4px;
}
div#transImportSpinner .proc-running {
	background: url(../images/spinner.gif) no-repeat;
}
div#transImportSpinner .proc-error {
	background: url(../images/proxal/warn-user.ico) no-repeat;
}
div#transImportSpinner .proc-success {
	background: url(../images/proxal/check.ico) no-repeat;
}
div#transImportSpinner .proc {
        background-size: 16px 16px;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

#tIS_progress {
    padding: 15px;
}

#tISPB_box1 {
    border: 1px solid #555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 250px;
    height: 14px;
}

#tISPB_perc1 {
    background-color: rgb(128,192,238);
    background-image: -webkit-linear-gradient(top,rgb(128,192,238),rgb(74,136,192)) !important;
    background-image: -moz-linear-gradient(top,rgb(128,192,238),rgb(74,136,192)) !important;
    background-image: -ms-linear-gradient(top,rgb(128,192,238),rgb(74,136,192)) !important;
    background-image: -o-linear-gradient(top,rgb(128,192,238),rgb(74,136,192)) !important;
    height: 14px;
}

#tISPB_disp1 {
    position: relative;
    top: -15px;
    width: 250px;
    padding: 0;
    margin: 0;
    font-family: tahoma, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

#saveErrorPopup textarea {
    min-height: 10em;
}