<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <var name="DB_DSN" value="mysql:dbname=coratest;host=localhost"/>
        <var name="DB_USER" value="cora"/>
        <var name="DB_PASSWD" value="trustthetext"/>
        <var name="DB_DBNAME" value="coratest"/>
        <var name="DB_ROOTPW" value="Hrv89SQL7tsu"/>
    </php>
    <testsuites>
        <testsuite name="Cora Tests">
            <directory>.</directory>
            <!--<file>DBConnector_test.php</file>
            <file>DBInterface_test.php</file>-->
            <file>XMLHandler_test.php</file>
            <file>CoraDocument_test.php</file>
            <file>Menu_test.php</file>
            <file>Exporter_test.php</file>
            <file>AutomaticAnnotator_test.php</file>
            <file>Locale_test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
