
/*** reset browser defaults ***/

form input, form textarea, form button, form select,
input.mform, textarea.mform, button.mform, select.mform {
	margin:0;
	outline:none; 
}
input.mform::-moz-focus-inner,
button.mform::-moz-focus-inner,
form input::-moz-focus-inner,
form button::-moz-focus-inner {
	border:0;
}

/*** transitions ***/

form input[type="text"],
form input[type="password"],
form input[type="button"],
form input[type="submit"],
form textarea,
form button,
input.mform[type="text"],
input.mform[type="password"],
input.mform[type="button"],
input.mform[type="submit"],
textarea.mform,
div.select,
button.mform {
	-webkit-transition:0.1s linear border;
	-moz-transition:0.1s linear border;
	-ms-transition:0.1s linear border;
	-o-transition:0.1s linear border;
	transition:0.1s linear border;
}

/*** textfield, textarea, checkboxes, select ***/

form input[type="text"],
form input[type="password"],
form textarea,
input.mform[type="text"],
input.mform[type="password"],
textarea.mform,
div.select {
	position:relative;
	background-color:#fff;
	padding:5px;
	border:1px solid #d0d0d0;
	font-size:14px;
	line-height:normal;
	color:#606060;
	resize:none;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.12);
}
form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="checkbox"]:hover,
form textarea:hover,
input.mform[type="text"]:hover,
input.mform[type="password"]:hover,
input.mform[type="checkbox"]:hover,
textarea.mform:hover,
div.select:hover {
	border-color:#b5b5b5;
}
form input[type="text"].input_error,
form input[type="password"].input_error,
form input[type="checkbox"].input_error,
form textarea.input_error,
input.mform[type="text"].input_error,
input.mform[type="password"].input_error,
input.mform[type="checkbox"].input_error,
textarea.mform.input_error,
div.select.input_error {
	border-color:#ff7070;
	box-shadow:0 0 5px #ff8585, inset 0 0 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:0 0 5px #ff8585, inset 0 0 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow:0 0 5px #ff8585, inset 0 0 2px rgba(0, 0, 0, 0.12);
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form textarea:focus,
input.mform[type="text"]:focus,
input.mform[type="password"]:focus,
textarea.mform:focus,
div.select.select_focus {
	border-color:#8ccfff;
	box-shadow:0 0 5px #8ccfff, inset 0 0 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:0 0 5px #8ccfff, inset 0 0 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow:0 0 5px #8ccfff, inset 0 0 2px rgba(0, 0, 0, 0.12);
}

form input[type="text"].required,
form input[type="password"].required,
form textarea.required,
input.mform[type="text"].required,
input.mform[type="password"].required,
textarea.mform.required {
	background-image:url('images/mForm-Sprites.png');
	background-position:right -44px;
	background-repeat:no-repeat;
}
div.select.required:after {
	content:'';
	display:block;
	position:absolute;
	top:3px;
	right:21px;
	width:3px;
	height:3px;
	background:url('images/mForm-Sprites.png') -277px -47px no-repeat;
}
form input[type="text"].required.required_hidden,
form input[type="password"].required.required_hidden,
form textarea.required.required_hidden,
input.mform[type="text"].required.required_hidden,
input.mform[type="password"].required.required_hidden,
textarea.mform.required.required_hidden,
div.select.required.required_hidden:after {
	background-image:none;
}

/*** placeholders ***/

.placeholder {
	white-space:nowrap;
	cursor:text;
	color:#b0b0b0;
}
.placeholder_focus {
	color:#c5c5c5;
}
::-webkit-input-placeholder {
    color:#b0b0b0;
}
input:-moz-placeholder {
    color:#b0b0b0;
}

/*** checkboxes: webkit browsers ***/

form input[type="checkbox"],
form input[type="radio"],
input.mform[type="checkbox"],
input.mform[type="radio"] {
	-webkit-appearance:none;
	font-size:0;
	line-height:0;
	padding:0;
	width:12px;
	height:12px;
	cursor:pointer;
	border:1px solid #d0d0d0;
	background-color:#fff;
	position:relative;
	vertical-align:bottom;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.12);
	box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.12);
}
form input[type="checkbox"]:active,
form input[type="radio"]:active,
input.mform[type="checkbox"]:active,
input.mform[type="radio"]:active {
	border-color:#8ccfff;
	background-color:#f0f9ff;
}
form input[type="checkbox"]:checked::after,
input.mform[type="checkbox"]:checked::after {
	content:'';
	display:block;
	position:absolute;
	top:-1px;
	left:1px;
	width:13px;
	height:11px;
	background:url('images/mForm-Sprites.png') 0px 0px no-repeat;
}
span.checkbox,
label.checkbox {
	cursor:pointer;
	padding-left:8px;
	line-height:0px;
}

/*** buttons ***/

form button,
form input[type="button"],
form input[type="submit"],
button.mform,
input.mform[type="button"],
input.mform[type="submit"] {
	cursor:pointer;
	position:relative;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	height:29px;
	padding:0px 15px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25);
}
form button *, button.mform * {
	cursor:pointer;
	pointer-events:none;
}
form button.button_small,
form input[type="button"].button_small,
form input[type="submit"].button_small,
button.mform.button_small,
input.mform[type="button"].button_small,
input.mform[type="submit"].button_small {
	height:25px;
	font-size:11px;
	padding:0px 10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
form button:active,
form input[type="button"]:active,
form input[type="submit"]:active,
button.mform:active,
input.mform[type="button"]:active,
input.mform[type="submit"]:active {
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.26) !important;
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.26) !important;
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.26) !important;
}
form button:active > *:first-child,
button.mform:active > *:first-child {
	position:relative;
	top:1px;
}
form button[disabled],
form input[type="button"][disabled],
form input[type="submit"][disabled],
button.mform[disabled],
input.mform[type="button"][disabled],
input.mform[type="submit"][disabled] {
	padding-top:0px !important;
	cursor:default !important;
	border:1px solid #d9d9d9 !important;
	color:#cacaca !important;
	text-shadow:0 1px 1px #fdfdfd !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	background-color:#ececec !important;
	background-image:-webkit-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image:-moz-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image:-ms-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image:-o-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image:linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#f9f9f9,EndColorStr=#e4e4e4) !important;
}
form button.button_loading,
form input[type="button"].button_loading,
form input[type="submit"].button_loading,
button.mform.button_loading,
input.mform[type="button"].button_loading,
input.mform[type="submit"].button_loading {
	color:#d9d9d9 !important;
	text-shadow:0 1px 1px #fefefe !important;
}
form button.button_loading:after,
form input[type="button"].button_loading:after,
form input[type="submit"].button_loading:after,
button.mform.button_loading:after,
input.mform[type="button"].button_loading:after,
input.mform[type="submit"].button_loading:after {
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	width:16px;
	height:16px;
	margin-left:-8px;
	margin-top:-8px;
	background:url('images/mForm-Spinner.gif') no-repeat;
}

/*** gray button ***/

form button,
form input[type="button"],
form input[type="submit"],
button.mform,
input[type="button"].mform,
input[type="submit"].mform {
	color:#707070;
	text-shadow:0 1px 1px #fff;
	border:1px solid #ccc;
	border-bottom:1px solid #c0c0c0;
	background-color:#ececec;
	background-image:-webkit-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image:-moz-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image:-ms-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image:-o-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image:linear-gradient(top,#fbfbfb,#e4e4e4);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fbfbfb,EndColorStr=#e4e4e4);
}
form button:hover,
form input[type="button"]:hover,
form input[type="submit"]:hover,
button.mform:hover,
input[type="button"].mform:hover,
input[type="submit"].mform:hover {
	border:1px solid #b5b5b5;
	-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.07);
	box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.07);
}
form button:active,
form input[type="button"]:active,
form input[type="submit"]:active,
button.mform:active,
input[type="button"].mform:active,
input[type="submit"].mform:active {
	border:1px solid #a0a0a0;
	border-bottom:1px solid #cacaca;
	background:#e5e5e5;
}

/*** green button ***/

form button.button_green,
form input[type="button"].button_green,
form input[type="submit"].button_green,
button.mform.button_green,
input.mform[type="button"].button_green,
input.mform[type="submit"].button_green {
	color:#fff;
	text-shadow:0 -1px 1px #779a35;
	border:1px solid #779a35;
	border-bottom:1px solid #708542;
	background-color:#83af31;
	background-image:-webkit-linear-gradient(top,#a9d05b,#77a423);
	background-image:-moz-linear-gradient(top,#a9d05b,#77a423);
	background-image:-ms-linear-gradient(top,#a9d05b,#77a423);
	background-image:-o-linear-gradient(top,#a9d05b,#77a423);
	background-image:linear-gradient(top,#a9d05b,#77a423);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#a9d05b,EndColorStr=#77a423);
}
form button.button_green:hover,
form input[type="button"].button_green:hover,
form input[type="submit"].button_green:hover,
button.mform.button_green:hover,
input.mform[type="button"].button_green:hover,
input.mform[type="submit"].button_green:hover {
	border:1px solid #577027;
	-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}
form button.button_green:active,
form input[type="button"].button_green:active,
form input[type="submit"].button_green:active,
button.mform.button_green:active,
input.mform[type="button"].button_green:active,
input.mform[type="submit"].button_green:active {
	border:1px solid #6c8c30;
	border-bottom:1px solid #779a35;
	background:#84af31;
}

/*** yellow button ***/

form button.button_yellow,
form input[type="button"].button_yellow,
form input[type="submit"].button_yellow,
button.mform.button_yellow,
input.mform[type="button"].button_yellow,
input.mform[type="submit"].button_yellow {
	color:#fff;
	text-shadow:0 -1px 1px #e09100;
	border:1px solid #e09100;
	border-bottom:1px solid #cd7d00;
	background-color:#ffb316;
	background-image:-webkit-linear-gradient(top,#ffd044,#ffa704);
	background-image:-moz-linear-gradient(top,#ffd044,#ffa704);
	background-image:-ms-linear-gradient(top,#ffd044,#ffa704);
	background-image:-o-linear-gradient(top,#ffd044,#ffa704);
	background-image:linear-gradient(top,#ffd044,#ffa704);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffd044,EndColorStr=#ffa704);
}
form button.button_yellow:hover,
form input[type="button"].button_yellow:hover,
form input[type="submit"].button_yellow:hover,
button.mform.button_yellow:hover,
input.mform[type="button"].button_yellow:hover,
input.mform[type="submit"].button_yellow:hover {
	border:1px solid #c27e00;
	-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.07);
	box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}
form button.button_yellow:active,
form input[type="button"].button_yellow:active,
form input[type="submit"].button_yellow:active,
button.mform.button_yellow:active,
input.mform[type="button"].button_yellow:active,
input.mform[type="submit"].button_yellow:active {
	border:1px solid #e09100;
	border-bottom:1px solid #ed9e09;
	background:#ffb215;
}
